.social-icons {
    text-align: center;

    &__icon {
        background-color: $mainOrange;
        display: inline-block;
        margin: 0 5px;

        .icon {
            display: block;
        }
    }
}
